/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define BASE        0
#define MOUSE       1
#define SYM         2
#define EXTENDED    3
#define ETCC        4

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
      compatible = "zmk,keymap";

      default_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                bindings = <   
   &hm LCTRL Q &kp W &kp E &kp R &kp T    &kp Y &kp U  &kp I &kp O &hm LGUI P
   &kp A &kp S &kp D &kp F &kp G    &kp H &kp J  &kp K &kp L &kp BKSP
   &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M  &kp COMMA &kp DOT &kp RET
               &none &mo MOUSE &kp LSHIFT    &kp SPACE &mo SYM  &none
        >;
                                
        sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp DEL BKSP>;
      };

      mouse_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                bindings = <   
   &kp LCTRL    &mkp RCLK   &kp UP   &mkp LCLK &mkp SCROLL_UP     &kp NUMBER_7 &kp NUMBER_8  &kp NUMBER_9 &kp STAR  &kp MINUS
   &kp LSHIFT   &kp LEFT    &kp DOWN &kp RIGHT &mkp SCROLL_DOWN   &kp NUMBER_4 &kp NUMBER_5  &kp NUMBER_6 &kp SLASH &kp BKSP
   &mo EXTENDED &kp HOME    &kp LALT &kp END   &kp TAB            &kp NUMBER_1 &kp NUMBER_2  &kp NUMBER_3 &kp PLUS  &kp RET
                            &none    &none     &kp ESC            &kp DOT      &kp NUMBER_0  &none

        >;
                                
        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp LC(PG_UP) LC(PG_DN)>;
      };

   sym_layer { 
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                bindings = <   
   &kp F1  &kp F2  &kp F3   &kp F4    &kp F5        &kp AT        &kp EXCL  &kp STAR  &kp LPAR &kp RPAR
   &kp F6  &kp F7  &kp F8   &kp F9    &kp F10       &kp SEMICOLON &kp DQT   &kp EQUAL &kp BSLH &kp DEL
   &kp F11 &kp F12 &kp LBKT &kp LALT  &kp RBKT      &kp COLON     &kp APOS  &kp MINUS &kp FSLH &kp QUESTION
                   &none    &none     &kp LSHIFT    &none         &none     &none
        >;      
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>; 
      }; 

    extended_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                bindings = <   
   &none &none &none &none &none    &none &none  &none &none &none
   &none &none &none &none &none    &none &kp LG(PAUSE_BREAK)  &none &mkp MOVE_UP &none
   &none &none &none &none &none    &none &none  &mkp MOVE_LEFT &mkp MOVE_DOWN &mkp MOVE_RIGHT
               &none &none &none    &none &mo ETCC  &none
                >;

        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

    };

    etcc_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                bindings = <   
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3    &none &none  &none &none &none
   &none &none &none &none &none    &none &none  &none &none &none
   &none &none &none &none &none    &none &none  &none &none &none
               &none &none &none    &none &none  &none
                >;

        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        
    };
  }; 
};  

